<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheets/show_page.css" />
</head>
<body>

<h1><%= @movie.title %></h1>

Genre: <%= @movie.genre %><br>
Year: <%= @movie.year %><br>
Summary: <%= @movie.summary %><br>
<br>


<% if @movie.user_id == session[:user_id] || User.find(1).id == session[:user_id]%>
    <form method="GET" action="/movies/<%= @movie.id %>/edit">
        <input type="submit" value="Edit Movie">
    </form>

    <form method="POST" action="/movies/<%= @movie.id %>/delete">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Movie">
    </form>
<% end %>

<br>
<% if flash(:message) %>
  <%= flash[:message] %>
<% end %> 
<h2>Additional details:</h2>

<li><% @movie.comments.each do |comment| %>
    <li><strong><%= comment.user.username %>:</strong> <%= comment.content %><br><br>
    <% if comment.user_id == session[:user_id] || User.find(1).id == session[:user_id]%>
        <form method="GET" action="/comments/<%= comment.id %>/edit">
            <input type="submit" value="Edit Detail">
        </form>
        <form method="POST" action="/comments/<%= comment.id %>/delete">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Detail">
        </form></li>
        <% end %>
    <% end %>
</li>

<h2>Add new detail: </h2><br>
<form method="POST" action="/comments">
    <input type="hidden" name="movie_id" value="<%=@movie.id%>">
    <textarea name="content" rows="5" cols="30"></textarea>
    <br><input type="submit" value="Add detail">
</form>

</body>