<h1><%= @movie.title %></h1>

Genre: <%= @movie.genre %><br>
Year: <%= @movie.year %><br>
Summary: <%= @movie.summary %><br><br>

<% if @movie.user_id == session[:user_id] || User.find(1).id == session[:user_id]%>
<small><a href="/movies/<%= @movie.id %>/edit">Edit Movie</a></small><br>

<form method="POST" action="/movies/<%= @movie.id %>/delete">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Movie">
</form>
<% end %>
<br>
<h3>Additional details:</h3>
<% if flash(:message) %>
  <%= flash[:message] %>
<% end %> 

<br>
<li><% @movie.comments.each do |comment| %>
    <li><strong><%= comment.user.username %>:</strong> <%= comment.content %><br><br></li>
    <% if comment.user_id == session[:user_id] || User.find(1).id == session[:user_id]%>
    <form method="POST" action="/comments/<%= comment.id %>/delete">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Detail">
    </form>
    <a href="/comments/<%= comment.id %>/edit>Edit comment</a><br>
    <% end %>
    <% end %>
</li>
<br>
Add new detail: <br>
<form method="POST" action="/comments">
    <input type="hidden" name="movie_id" value="<%=@movie.id%>">
    <textarea name="content" rows="5" cols="30"></textarea>
    <br><input type="submit" value="Add detail">
</form>