<h1><%= @movie.title %></h1>

Genre: <%= @movie.genre %><br>
Year: <%= @movie.year %><br>
Summary: <%= @movie.summary %><br><br>

<% if @movie.user_id == session[:user_id] %>
<small><a href="/movies/<%= @movie.id %>/edit">Edit Movie</a></small><br>

<form method="POST" action="/movies/<%= @movie.id %>/delete">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Movie">
</form>
<% end %>
<br>
<h3>Comments:</h3>
<% if flash(:message) %>
  <%= flash[:message] %>
<% end %> 
Add new comment: <br>
<form method="POST" action="/comments">
    <input type="hidden" name="movie_id" value="<%=@movie.id%>">
    <input type="hidden" name="user_id" value="<%=session[:user_id]%>">
    <textarea name="content" rows="5" cols="30"></textarea>
    <br><input type="submit" value="Add comment">
</form>
<br>
<li><% @movie.comments.each do |comment| %>
    <%= comment.user.username %>: <%= comment.content %><br>
    <% end %>
</li>