<h2>Edit <%= @show.title %>:</h2>

<form method="POST" actions="/shows/<%= @show.id %>">
    Title: <input type="text" name="title" value="<%= @show.title %>"><br>
    IMDB page: <input type="text" name="imdb_url" value="<%= @show.imdb_url %>"><br>
    Year (first aired): <input type="text" name="year" value="<%= @show.year %>"><br>
    Short summary: <input type="text" name="summary" value="<%= @show.summary %>"><br>
    Network: <input type="text" name="network" value="<%= @show.network %>"><br>
    <input type="submit" value="Create Show">
</form>